.banners-start-page {
    overflow: hidden;
    &__cart-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__cart {
        display: block;
        float: left;
        box-sizing: border-box;
        overflow: hidden;
    }
    &__cart-list {
        overflow: hidden;
    }
    &__cart-link {
        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
        @extend .link;
    }
    &__cart-img {
        height: auto;
    }
    &__cart-description {
        position: absolute;
        top: 35px;
        text-align: center;
    }
    &__cart-description-bag {
        text-align: center;
    }
    &__cart-heading {
        font: $banner-font;
        margin: 0;
    }
    &__cart-subheading {
        margin: 0;
        font: 1.143em 'Times New Roman', Times;
        font-style: italic;
        color: #757575;
    }
}

@media screen and (min-width: 320px) {
    .banners-start-page {
        &__cart {
            width: 100%;
            height: 240px;
            border-bottom: 1px solid #e5e5e5;
        }
        &__cart-img {
            width: 75%;
        }
        &__cart-description {
        right: 15px;
    }
        &__cart:nth-child(1) &__cart-img {
            display: block;
            margin: 55px auto 0;
        }
        &__cart:nth-child(2) {
            display: none;
        }
        &__cart:nth-child(3) {
            display: none;
        }
    }
}

@media screen and (min-width: 540px) {
    .banners-start-page {
        &__cart-img {
            width: 45%;
        }
        &__cart-description {
        right: 55px;
    }
    }
}

@media screen and (min-width: 768px) {
    .banners-start-page {
        &__cart {
            width: 70%;
            height: 250px;
        }
        &__cart-img {
            width: 55%;
        }
        &__cart-img-bag {
            width: 60%;
            display: block;
            margin: 0 auto;
        }
        &__cart:nth-child(1) {
            border-right: 1px solid #e5e5e5;
        }
        &__cart:nth-child(3) {
            display: block;
            width: 30%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .banners-start-page {
        &__cart {
            width: 50%;
            height: 385px;
        }
        &__cart:hover {
            background-color: #f7f7f7;
        }
        &__cart-img {
            width: 75%;
        }
        &__cart:nth-child(1) &__cart-img {
            margin: 115px auto 0;
        }
        &__cart:nth-child(2) {
            display: block;
        }
        &__cart:nth-child(3) {
            display: none;
        }
    }
}