.new-arrivals {
    overflow: hidden;
    &__heading {
        margin: 0;
        font: $heading2;
        text-align: center;
    }
}

@media screen and (min-width: 320px) {
    .new-arrivals {
        margin: 60px 0 105px;
        &__heading {
            margin-bottom: 45px;
        }
        &__button {
            margin: 60px auto 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .new-arrivals {
        margin: 95px 0 140px;
        &__heading {
            margin-bottom: 80px;
        }
        &__button {
            margin-top: 75px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .new-arrivals {
        margin: 135px 0 80px;
        &__heading {
            margin-bottom: 100px;
        }
        &__button {
            margin-top: 90px;
        }
    }
}