

.swiper-pagination-bullet{
  opacity: 1 !important;
  background-color: #c8c8c8 !important;
}

.swiper-pagination-bullet-active{
  background-color: #f14a58 !important;
}

.swiper-pagination{
  padding: 27px 0;
  border-top: 1px solid #c8c8c8;
}


.slider{


  &__first-slide{
    background: //linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(0, 137, 119, 0) 85%, rgba(255, 255, 255, 1) 100%),
            url(#{$imagesPath}/slide_1.png) no-repeat;
  }

  &__second-slide{
    overflow: hidden;

  }
  &__third-slide{
    background: url(#{$imagesPath}/slide_3.png) no-repeat;
  }
  &__slide{
    display: block;
    width: 100%;
    background-position: center top;
    @extend .link;
  }

  &__new-collection-block{
    text-align: center;
  }

  &__title{
    font: $heading3;
  }

  &__heading{
    font: $heading1;
    color: #f14a58;
    letter-spacing: 6px;
  }

  &__line{
    display: inline-block;
    width: 60px;
    height: 4px;
    background-color: #f14a58;
    margin-bottom: 2px
  }

  &__text{
    font-weight: bold;
  }

  &__right-second-slide{

    background: url(#{$imagesPath}/slide_2.png) no-repeat left top;
    height: 100%;
    width: 100%;

  }

  &__cart-heading {
    font: $banner-font;
    margin: 0;
  }
  &__cart-subheading {
    margin: 0;
    font: 1.143em 'Times New Roman', Times;
    font-style: italic;
  }
  &__cart-hoody {
    background: url(#{$imagesPath}/banner4.png) no-repeat;
  }
  &__cart-pants {
    background: url(#{$imagesPath}/banner5.png) no-repeat;

  }
  &__cart-bag {
    background: url(#{$imagesPath}/banner6.png) no-repeat;

  }
  &__cart {
    float: left;
    background-position: center top;
    background-size: 100% auto;
    text-align: center;
    color: #fff;
  }
  &__cart-description-bag {
    color: #757575;
    margin-top: 0;

  }
  &__cart-description-hoody {
    margin-left: 300px;
  }
  &__cart-description-pants {
    margin-top: 155px;
  }
  &__cart-description-block{
    margin: 65px auto;
    color: #000;
  }
  &__cart-description-look{
    padding: 15px 0;
    text-align: center;
  }
  &__cart-description-novelty{
    color: #fff;
    padding-top: 30%;
    text-align: center;
  }
  &__cart-heading-bag {
    color: #f14a58;
  }

  &__cart-heading-bag{
    line-height: 1.3;
  }





}

@media screen and (min-width: 320px) {
  .slider{

  &__title{
    margin-top: 40px;
  }

    &__heading{
      margin: 40px 0;
    }



    &__container{
      width: 100%;
      height: 530px;
    }

    &__new-collection-block{
      width: 255px;
      height: 345px;
      background: #fff;
      margin: 45px auto 0;
      overflow: hidden;
    }

    &__left-second-slide{
      display: none;
    }

    &__right-second-slide{
      width: 100%;
    }

    &__cart {
      display: none;
    }

  }
}

@media screen and (min-width: 768px) {
  .slider {

    &__heading{
      margin: 50px 0;
    }

    &__title{
      margin-top: 50px;
    }

    &__container{
      height: 740px;
    }

    &__new-collection-block{
      width: 325px;
      height: 440px;
      margin-top: 75px;
    }

    &__left-second-slide{
      display: block;
      float: left;
      width: 60%;
      height: 100%;
      background-color: #f5de75;
    }

    &__right-second-slide{
      float: left;
      width: 40%;
    }

    &__cart {
      display: block;
      height: 245px;
    }

    &__cart-hoody {
      width: 100%;
    }
    &__cart-pants {
      width: 50%;

    }
    &__cart-bag {
      width: 50%;

    }
    &__cart-block{
      width: 100%;
    }


  }
}

@media screen and (min-width: 1024px) {
  .slider {
    &__container{
      height: 760px;
    }

    &__new-collection-block{
      width: 380px;
      height: 485px;
      margin-top: 85px;
    }
    &__left-second-slide, &__right-second-slide{
      width: 50%;
    }
    &__cart {

      height: 252px;
    }
    &__cart-heading-block{
      font-size: 1.5em;
    }
  }
}

