.shopping-bag {
    &__heading {
        margin: 0;
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        font: 1.857em/2.5 "OpenSans-Bold", sans-serif;
    }
    &__product-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        overflow: hidden;
    }
    &__item-img-wrapper {
        float: left;
        margin-right: 25px;
    }
    &__item-img {
        width: 100%;
        height: auto;
    }
    &__item-characteristics {
        overflow: hidden;
        margin: 10px 0 0;
        padding: 0;
        list-style: none;
    }
    &__item-property {
        margin-bottom: 10px;
    }
    &__item-heading {
        margin: 0;
        font: $heading3;
        font-size: 1em;
        @extend .link;
    }
    &__item-quantity{
        border: none;
        outline: none;
        width: 30px;
    }
    &__remove-item {
        overflow: hidden;
        font-family: "OpenSans-Bold", sans-serif;
        color: #f14a58;
        cursor: pointer;
    }
    &__remove-item--disabled {
        cursor: default;
    }
    &__item-price {
        clear: both;
        text-align: center;
        margin: 30px 0 0;
    }
    &__item--deleted {
        opacity: 0.5;
    }
    &__notification {
        margin-top: 25px;
        padding: 10px 40px 15px;
        border-top: 1px solid #e5e5e5;
        background-color: #f7f7f7;
        text-align: center;
        font-family: "OpenSans-Bold", sans-serif;
        font-size: 0.857em;
    }
    &__cost-info {
        overflow: hidden;
    }
    &__buy-button-wrapper {
        float: left;
        width: 50%;
        margin-left: 25%;
    }
    //&__empty-bag {
    //    display: none;
    //    float: left;
    //    width: 25%;
    //    margin-top: 20px;
    //}
    &__buy-button {
        margin: 0 auto;
    }
    &__total-cost {
        float: right;
        width: 25%;
        margin-top: 12px;
    }
    &__total-cost {
        text-align: right;
    }
    &__total-cost-value {
        font: 1.2em/1.6 "OpenSans-Bold", sans-serif;
        margin: 0;
    }
}

@media screen and (min-width: 320px) {
    .shopping-bag {
        &__item {
            margin: 15px 20px 10px;
        }
        &__heading {
            padding-left: 35px;
        }
        &__item-img-wrapper {
            width: 158px;
            height: 225px;
        }
        &__item-price {
            width: 158px;
        }
        &__cost-info {
            margin: 20px 20px 35px;
        }
        &__buy-button {
            width: 140px;
        }
    }
}

@media screen and (min-width: 768px) {
    .shopping-bag {
        &__product-list {
            overflow: hidden;
        }
        &__item {
            margin: 30px 5% 50px;
            float: left;
            width: 40%;
        }
        &__heading {
            padding-left: 65px;
        }
        &__item-img-wrapper {
            width: 145px;
            height: 205px;
        }
        &__item-price {
            padding-top: 30px;
            margin: 0;
            width: 145px;
        }
        &__notification {
            margin: 0;
        }
        &__buy-button {
            width: 260px;
        }
        &__cost-info {
            margin: 30px 40px 60px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .shopping-bag {
        &__heading {
            padding-left: 85px;
        }
        &__item-img-wrapper {
            width: 240px;
            height: 340px;
        }
        &__item-price {
            width: 240px;
        }
        &__cost-info {
            margin: 30px 85px 60px;
        }
        &__buy-button {
            width: 340px;
        }
    }
}