.breadcrumbs{

    width: 100%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    &__link{
        display: block;
        @extend .link;
        
        font: $heading3;
    }
}

@media screen and (min-width: 320px) {
    .breadcrumbs{

    &__link{
        margin: 20px 0 20px 20px;
    }
}
}

@media screen and (min-width: 1024px) {
    .breadcrumbs{

    &__link{
        margin: 20px 0 25px 85px;
    }
}
}