.product {
    text-align: center;
    &__big-photo {
        width: 100%;
        height: auto;
    }
    &__photo-container {
        display: inline-block;
    }
    &__big-photo-container {
        float: left;
    }
    &__small-photo-container {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        float: left;
    }
    &__item:hover{
        opacity: 0.5;
    }
    &__item--selected-photo{
        opacity: 0.5;
    }
    &__full-description {
        text-align: center;
    }
    &__heading {
        font-size: 1.857em;
    }
    &__price {
        font-size: 1.286em;
        margin: 0;
    }
    &__description {
        font-family: 'Times New Roman', Times, serif;
        margin: 20px auto;
        font-size: 1.143em;
        font-style: italic;
    }
    &__size-container,
    &__color-container {
        overflow: hidden;
    }
    &__title {
        font-size: 1.714em;
        margin: 0 0 30px;
    }
    &__data-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__data-element {
        display: inline-block;
        font-size: 1.714em;
    }

    &__size--selected-element:hover, &__color--selected-element:hover {
        background-color: #707070 !important;
    }

    &__size--selected-element, &__color--selected-element {
        background-color: #707070;
    }
}

@media screen and (min-width: 320px) {
    .product {
        margin: 0 20px 100px;
        &__big-photo-container {
            width: 100%;
        }
        &__small-photo-container {
            width: 100%;
        }
        &__item {
            display: inline-block;
            width: 30%;
            margin-left: 3%;
        }
        &__item:nth-child(1) {
            margin-left: 0;
        }
        &__small-photo {
            width: 100%;
            height: auto;
        }
        &__heading {
            margin: 30px 0 25px;
        }
        &__description {
            width: 100%;
        }
        &__data-element {
            width: 40%;
            margin: 0 10px 20px;
        }
        &__add-button {
            margin: 50px auto;
        }
    }
}

@media screen and (min-width: 768px) {
    .product {
        &__big-photo-container {
            width: 70%;
        }
        &__small-photo-container {
            width: auto;
        }
        &__item {
            display: block;
            width: 90%;
            margin-left: 20px;
        }
        &__item:nth-child(1) {
            margin-left: 20px;
        }
        &__description {
            width: 70%;
        }
        &__data-element {
            width: 145px;
            margin: 0 30px 20px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .product {
        margin: 60px 60px 160px;
        &__heading {
            margin: 50px 0 20px;
        }
        &__description {
            margin-bottom: 50px;
        }
        &__data-element {
            padding-top: 20px;
        }
        &__add-button {
            margin: 80px auto;
        }
    }
}