.banners {
    &__cart-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__cart-link {
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
        text-align: center;
    }
    &__cart-heading {
        font: $banner-font;
        margin: 0;
    }
    &__cart-subheading {
        margin: 0;
        font: 1.143em 'Times New Roman', Times;
        font-style: italic;
    }
    &__cart-hoody {
        background: url(#{$imagesPath}/banner4.png) no-repeat;
    }
    &__cart-pants {
        background: url(#{$imagesPath}/banner5.png) no-repeat;

    }
    &__cart-bag {
        background: url(#{$imagesPath}/banner6.png) no-repeat;

    }
    &__cart {
        float: left;
        background-position: center top;
        background-size: 100% auto;
    }
    &__cart-description-bag {
        color: #757575;
    }
    &__cart-heading-bag {
        color: #f14a58;
    }
}

@media screen and (min-width: 320px) {
    .banners {
        &__cart {
            height: 240px;
            width: 100%;
        }
        &__cart:nth-child(2),
        &__cart:nth-child(3) {
            display: none;
        }
        &__cart-description-hoody {
            margin-left: 240px;
        }
    }
}

@media screen and (min-width: 768px) {
    .banners {
        &__cart {
            height: 255px;
        }
        &__cart:nth-child(1) {
            width: 70%;
        }
        &__cart:nth-child(2) {
            display: block;
            width: 30%;
        }
        &__cart-description-hoody {
            margin-left: 300px;
        }
        &__cart-description {
            margin-top: 150px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .banners {
        &__cart {
            height: 385px;
        }
        &__cart:nth-child(1) {
            width: 50%;
        }
        &__cart:nth-child(2) {
            width: 25%;
        }
        &__cart:nth-child(3) {
            display: block;
            width: 25%;
        }
        &__cart-description {
            margin-top: 75%;
        }
    }
}