   .button{
        display: block;
        height: 70px;
        box-sizing: border-box;
        border: 1px solid #e5e5e5;
        text-align: center;
        @extend .link;
        font: $button-font;
    }

     .button:hover{
        background-color: #f7f7f7;
    }

@media screen and (min-width: 320px) {
    .button {
         width: 220px;
        padding-top: (2em - 0.85em);
    }
}

@media screen and (min-width: 768px) {
    .button {
        width: 300px;
        padding-top: (2em - 0.9em);
    }
}

@media screen and (min-width: 1024px) {
    .button {
        padding-top: (2em - 1em);
    }
}