.footer {
    overflow: hidden;
    width: 100%;
    &__quick-links {
        overflow: hidden;
    }
    &__footer-list {
        margin: 0 2.5% 0 7.5%;
        padding: 0;
        list-style: none;
        width: 40%;
        float: left;
    }
    &__footer-list:nth-child(2) {
        margin: 0;
    }
    &__title {
        font: $heading3;
    }
    &__item {
        margin-bottom: 20px;
    }
    &__link {
        @extend .link;
    }
    &__container {
        overflow: hidden;
        border-top: 1px solid #e5e5e5;
        width: 100%;
    }
    &__questions {
        box-sizing: border-box;
        float: left;
    }
    &__phone-numbers {
        box-sizing: border-box;
        float: left;
    }
    &__heading {
        font: $heading3;
        margin: 20px 0 15px 20px;
    }
    &__icon-link-twitter {
        display: block;
        float: left;
        margin: 0 10px 0 12px;
        width: 14px;
        height: 11px;
    }
    &__icon {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__icon-twitter {
        background: url(#{$imagesPath}/icon-twitter.png) no-repeat;
    }
    &__link-list {
        margin: 25px 0 25px 20px;
        padding: 0;
        list-style: none;
        float: left;
    }
    &__element-link {
        @extend .link;
        font-weight: bold;
        font-size: 0.857em;
    }
    &__element {
        display: inline-block;
        margin-right: 10px;
    }
    &__icon-link-facebook {
        display: block;
        width: 7px;
        height: 14px;
    }
    &__icon-link-twitter-blue {
        display: block;
        width: 14px;
        height: 11px;
    }
    &__icon-facebook {
        background: url(#{$imagesPath}/icon-facebook.png) no-repeat;
    }
    &__icon-twitter-blue {
        background: url(#{$imagesPath}/icon-twitter-blue.png) no-repeat;
    }
    &__copyright {
        overflow: hidden;
    }
    &__copyright-text {
        font-weight: bold;
        font-size: 0.857em;
    }
    &__container-share {
        overflow: hidden;
    }
    &__copyright-share {
        font: $heading3;
    }
    &__copyright-number {
        background-color: #f4f4f4;
        font-size: 0.857em;
    }
}

@media screen and (min-width: 320px) {
    .footer {
        &__quick-links {
            display: block;
            width: 100%;
            border-top: 1px solid #e5e5e5;
        }
        &__title {
            margin: 30px 0;
        }
        &__questions {
            border-right: 1px solid #e5e5e5;
            width: 50%;
            height: 110px;
        }
        &__phone-numbers {
            width: 50%;
            height: 110px;
        }
        &__span {
            margin-left: 20px;
        }
        &__social-media {
            overflow: hidden;
            width: 100%;
            display: block;
            border-top: 1px solid #e5e5e5;
        }
        &__text {
            display: none;
        }
        &__icon-link-facebook {
            margin: 25px 20px 0 0;
            float: right;
        }
        &__icon-link-twitter-blue {
            margin: 28px 20px 0 0;
            float: right;
        }
        &__link-list-bottom {
            display: none;
        }
        &__copyright {
            border-top: 1px solid #e5e5e5;
            width: 100%;
        }
        &__copyright-text {
            float: left;
            margin: 25px 0 30px 20px;
        }
        &__copyright-share {
            float: right;
            margin: 23px 20px 0 0;
        }
        &__copyright-number {
            float: right;
            margin: 23px 10px 0 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__quick-links {
            width: 60%;
            float: left;
        }
        &__container {
            float: left;
            width: 40%;
        }
        &__title {
            margin: 50px 0 45px;
        }
        &__questions {
            width: 100%;
            border-right: 0;
        }
        &__phone-numbers {
            width: 100%;
        }
        &__heading {
            margin: 50px 0 15px 0;
        }
        &__span {
            margin-left: 0;
        }
        &__icon-link-twitter {
            margin-left: 0;
        }
        &__icon-link-twitter-blue {
            float: left;
        }
        &__icon-link-facebook {
            float: left;
        }
        &__link-list-top {
            display: none;
        }
        &__social-media {
            border: none;
        }
        &__link-list-bottom {
            float: right;
            margin-left: 0;
            margin-right: 3%;
            display: block;
            width: 31%;
            text-align: right;
        }
        &__copyright-text {
            width: 31%;
            margin-left: 3%;
        }
        &__container-share {
            float: left;
            width: 30%;
            text-align: center;
        }
        &__copyright-share {
            float: none;
            display: inline-block;
        }
        &__copyright-number {
            float: none;
            display: inline-block;
            margin-right: 0;
        }
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        &__quick-links {
            width: 50%;
            box-sizing: border-box;
            border-right: 1px solid #e5e5e5;
        }
        &__container {
            width: 50%;
            box-sizing: border-box;
            padding-left: 55px;
        }
        &__questions {
            width: 50%;
        }
        &__phone-numbers {
            width: 50%;
        }
        &__text {
            display: block;
            margin-right: 250px;
            font: 1.143em/1.875 'Times New Roman', Times, serif;
            font-style: italic;
            color: #a8a8a8;
        }
    }
}