.goods-list {
    margin: 0 2.5%;
    padding: 0;
    width: 95%;
    overflow: hidden;
    list-style: none;
    &__product {
        float: left;
        margin: 0 2.5% 30px;
        box-sizing: border-box;
        text-align: center;
    }
    &__product-img {
        width: 100%;
        height: auto;
    }
    &__product-link {
        @extend .link;
        overflow: hidden;
        display: block;
    }
    &__product-name {
        font: $page-font;
        font-weight: bold;
    }
    &__product-price {
        margin: 0;
    }
    
}

@media screen and (min-width: 320px) {
    .goods-list {
        &__product {
            width: 45%;
        }
        &__product-name {
            margin: 30px 0 10px;
        }
    }
}

@media screen and (min-width: 768px) {
    .goods-list {
        &__product {
            width: 28%;
        }
        &__product-name {
            margin: 40px 0 15px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .goods-list {
        &__product {
            width: 20%;
        }
    }
}