.header {
    overflow: hidden;
    &__site-logo {
        float: left;
        font: $logo-font;
         @extend .link;
    }

    &__basket-container{
        overflow: hidden;
        display: inline-block;
    }
   
    &__basket-link{
        @extend .link;
    }
    &__icon-basket {
        display: inline-block;
        margin-right: 5px;
        width: 17px;
        height: 17px;
        background: url(#{$imagesPath}/basket.png) no-repeat;
        background-position: center;
    }
  
     &__nav {
        overflow: hidden;
    }
    
}

@media screen and (min-width: 320px) {
    .header {

        &__site-logo{
            margin: 25px 0 35px 20px;
        }

        &__basket-container{
            margin: 30px 0 0 30px;
        }
        &__email {
            display: none;
        }

        &__search-form{
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        margin: 30px 35px 25px;

        &__site-logo{
            margin: 0;
            margin-bottom: 20px;
        }
        &__email {
            display: block;
            float: right;
        }
        &__basket-container {
            float: right;
            margin: 0;
            margin-left: 50px;
        }
        &__search-form {
            float: right;
        }

         &__nav-buttons{
            display: none;
        }

    }
    
}

@media screen and (min-width: 1024px) {
    .header {
        margin: 30px 60px 25px;
       
    }
   
}