.nav {
    font-family: "OpenSans-Bold";
   
    &__menu-list {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__link {
        @extend .link;
    }

    &__nav-buttons{
        position: absolute;
        height: 55px;
    width: 40px;
    padding: 30px 0 0 30px;

    border-left: 1px solid #e5e5e5;
   
    top: 0;
    right: 0;
    }

     &__button {
        background: none;
        padding: 0;
        border: 0;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
    }

    &__cross-button{
        display: none;
    }

     
}

@media screen and (min-width: 320px) {
    .nav {
        width: 100%;
        
        &__menu-list {
            display: none;
            margin: 0 0 25px;
            
            border-top: 1px solid #e5e5e5;
        }


        &__link:hover{
            background-color: #e5e5e5; 
        }

        &__link{
            display: block;
            padding: 15px 0 15px 20px;
            font-size: 2em;
        }

        &__link:active{
            color: #f14a58;
        }

        &__search-form{
            margin: 20px 0 0 20px;
        }

        &__hamburger-button:active &__menu-list{
        display: block;
    }
        
    }
}

@media screen and (min-width: 768px) {
    .nav {
        width: 97%;
        clear: both;
        float: left;
        border: none;
        padding: 0;

         &__nav-buttons{
             display: none;
         }
        &__menu-list {
            display: block !important;
            margin: 0;
            border: 0;
        }
        &__menu-element {
            display: inline-block;
            margin: 0 10px;
        }

        &__link{
            display: inline;
            padding: 0;
            font-size: 1em;

        }

        &__link--active{
            color: #f14a58 !important;
        }

        &__link:hover{
            background-color: #fff; 
        }

        &__first-menu-element {
            margin-left: 0;
        }

        &__search-form{
            display: none !important;
        }
      
    }
}

@media screen and (min-width: 1024px) {
    .nav{
        width: 85%;
    }

}