
.popup{
  position: fixed;
  top: 25px;
  right: 0;
  z-index: 2;
  background-color: #404040;
  border-radius: 3px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  color: #fff;

  &__container{
    width: 350px;
    margin: 15px;
  }

  &__title, &__message{
    margin: 0;
  }

  &__close-button{
    font-size: 30px;
    float: right;
  }

  &__close-button:hover{
    cursor: pointer;
  }
}