.search-form {

  &__form {
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
  }

  &__search-input {
    display: inline-block;
    width: 89%;
    padding-bottom: 7px;
    border: none;
    outline: none;
    font: 0.857em "OpenSans", sans-serif;
  }

  &__search-input--active {
    display: inline-block !important;
  }

  &__search-button {
    background: url(#{$imagesPath}/icon-search.png) no-repeat;
    cursor: pointer;
    outline: none;
    width: 12px;
    height: 12px;
    border: 0;
    padding: 0;
  }
}

@media screen and (min-width: 320px) {
  .search-form {

    &__form {
      width: 160px;
    }

  }
}

@media screen and (min-width: 768px) {
  .search-form {
    display: block;

    &__form {
      border: 0;
      width: 100%;
    }

    &__search-input {
      display: none;
    }

    &__search-button {
      float: right;
    }

  }
}

@media screen and (min-width: 1024px) {
  .search-form {

    &__form {
      border-bottom: 1px solid #e5e5e5;
      width: 120px;
    }

    &__search-input {
      display: block;
      float: left;
    }

  }
}