.wrapper {
    width: 100%;
    overflow: hidden;
   
}

@media screen and (min-width: 320px) {
    .wrapper {
        font-size: 0.85em;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        font-size: 1em;
    }
}

@media screen and (min-width: 1180px) {
    .wrapper {
        margin: 0 auto;
        width: 1180px;
        font-size: 1.2em;
    }
}







