<h2 class="shopping-bag__heading">Shopping bag</h2>
<ul class="shopping-bag__product-list">
    <%var totalCost = 0;
    for(var i=0; i< data.length; i++){
    var currentValue = data[i].value*data[i].price;
    totalCost += currentValue;%>
    <li class="shopping-bag__item">
        <div class="shopping-bag__item-img-wrapper">
            <img src="<%=data[i].srcCategory%>" alt="product image" class="shopping-bag__item-img">
        </div>
        <ul class="shopping-bag__item-characteristics">
            <li class="shopping-bag__item-property">
                <a href="./item.html" class="shopping-bag__item-heading"><%=data[i].name%></a></li>
            <li class="shopping-bag__item-property"><span>Color: </span><span class="shopping-bag__item-color"><%=data[i].color%></span></li>
            <li class="shopping-bag__item-property"><span>Size: </span><span class="shopping-bag__item-size"><%=data[i].size%></span></li>
            <li class="shopping-bag__item-property"><span>Quantity: </span><input class="shopping-bag__item-quantity" type="number" value="<%=data[i].value%>"></li>
        </ul>
        <p class="shopping-bag__remove-item">Remove item</p>
        <p class="shopping-bag__item-price"><%=data[i].price%> $</p>
    </li>
    <%}%>
</ul>
<div class="shopping-bag__notification">You've qualified for Free UK Next Day Delivery on your order.
    Don't forget to enter the code nexday at checkout</div>
<div class="shopping-bag__cost-info">
    <div class="shopping-bag__buy-button-wrapper">
        <a href="/" class="shopping-bag__buy-button button">Buy now</a>
    </div>
    <div class="shopping-bag__total-cost">
        <span class="shopping-bag__total-cost-property">Total Cost</span>

        <p class="shopping-bag__total-cost-value"><%=totalCost.toFixed(2)%> $</p>
    </div>
</div>