
 <ul class="catalog__goods-list goods-list">
     <%_.each(data, function(value, key){%>
                    <li class="goods-list__product" id="<%=value.id%>">
                        <a href="./item.html" class="goods-list__product-link"><img src="<%=value.srcCategory%>" alt="product photo" class="goods-list__product-img"></a>
                        <a href="./item.html" class="goods-list__product-link"><h3 class="goods-list__product-name"><%=value.name%></h3></a>
                        <p class="goods-list__product-price"><%=value.price%> $</p>
                    </li>
 <%})%>
 </ul>