<div class="product__photo-container">
    <div class="product__big-photo-container">
        <img src="<%=data.srcBig1%>" alt="big product photo" class="product__big-photo">
    </div>

    <ul class="product__small-photo-container">
        <li class="product__item">
            <img src="<%=data.srcSmall1%>" alt="small product photo" class="product__small-photo">
        </li>
        <li class="product__item">
            <img src="<%=data.srcSmall2%>" alt="small product photo" class="product__small-photo">
        </li>
        <li class="product__item">
            <img src="<%=data.srcSmall3%>" alt="small product photo" class="product__small-photo">
        </li>
    </ul>
</div>
<div class="product__full-description">
    <h2 class="product__heading"><%=data.name%></h2>
    <p class="product__price"><%=data.price%> $</p>
    <p class="product__description"><%=data.description%></p>
    <div class="product__size-container">
        <h3 class="product__title">Size</h3>
        <ul class="product__data-list">
            <%for(var i=0; i< data.size.length; i++){%>
            <li class="product__data-element product__size button"><%=data.size[i]%></li>
            <%}%>
        </ul>
    </div>

    <div class="product__color-container">
        <h3 class="product__title">Color</h3>
        <ul class="product__data-list">
            <%for(var i=0; i< data.color.length; i++){%>
            <li class="product__data-element product__color button"><%=data.color[i]%></li>
            <%}%>
        </ul>
    </div>
</div>


<a href="./shopping-bag.html" class="product__add-button button">Add to bag</a>