.catalog {
    &__sale-block {
        text-align: center;
    }
    &__sale-heading {
        font: 1.857em/1.3 "OpenSans-Bold", sans-serif;
        line-height: 1.5;
    }
    &__sale-subheading {
        font: 1.143em 'Times New Roman', Times, serif;
        font-style: italic;
        line-height: 2;
    }
    &__sale-heading--highlight-color {
        color: #f14a58;
    }
    &__button{
        margin: 0 auto;
    }
    &__not-found-heading{
        text-align: center;
        margin: 50px;
    }
}

@media screen and (min-width: 320px) {
    .catalog {
        &__goods-list {
            margin-bottom: 50px;
        }
        &__sale-block {
            width: 80%;
            margin: 50px auto 70px;
        }
        &__sale-heading {
            margin: 0;
        }
        &__sale-subheading {
            margin: 20px 0 0;
        }
        &__button{
            margin-bottom: 100px;
        }
    }
}

@media screen and (min-width: 768px) {
    .catalog {
        &__goods-list {
            margin-bottom: 80px;
        }
        &__sale-block {
            width: 70%;
            margin: 70px auto 100px;
        }
         &__button{
            margin-bottom: 140px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .catalog {
        &__sale-block {
            width: 90%;
        }
         &__button{
            margin-bottom: 160px;
        }
    }
}