.filters {
    &__heading-container {
        padding: 20px 0;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
    &__filters-heading-list {
        display: inline;
    }
    &__heading-element {
        display: inline;
    }
    &__filters-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

@media screen and (min-width: 320px) {
    .filters {
        
        &__heading-container {
            cursor: pointer;
            font: 1.143em "OpenSans-Bold", sans-serif;
            font-weight: bold;
            color: #a8a8a8;
        }
        &__filters-heading-list {
            height: 22px;
            width: 75%;
            margin: 0 0 0 20px;
            overflow: hidden;
            display: inline-block;
            padding: 0;
        }



        &__heading-element{
            margin: 0 3px;
        }

        &__heading-element--selected{
            color: #f14a58;
        }
        &__type {
            display: none;
        }


        &__arrow-icon {
            display: none;
            background: url(#{$imagesPath}/icon-arrow.png) no-repeat;
            width: 5px;
            height: 3px;
            margin: 0 0 11px 14px;
        }
        &__heading-arrow-icon{
            display: inline-block;
        }
        &__filters-list {
            display: none;
            margin-bottom: 50px;
        }
        &__element {
            margin-top: 30px;
        }
        &__title {
            margin: 0;
            margin-left: 40px;
            font-size: 0.857em;
        }
        &__element-list {
            padding: 0;
            list-style: none;
            font: 2em "OpenSans-Bold", sans-serif;
            color: #a8a8a8;
        }

        &__item {
            display: inline;
            margin: 0 5px;
            cursor: pointer;
        }
        &__item--not-selected{
            color: #000;
        }
        &__item--selected{
            color: #f14a58;
        }
        &__item:hover {
            color: #f14a58;
        }

    }
}

@media screen and (min-width: 768px) {
    .filters {
        &__filters-heading-list {
            padding-left: 40px;
        }

        &__filters-heading-list {
            width: auto;
        }
    }
}

@media screen and (min-width: 1024px) {
    .filters {

        &__filters-list{
            width: 100%;
        }
        &__heading-container {
            display: none;
        }
        &__type {
            display: block;
            margin: 10px 0 0;
            font-weight: bold;
            font-size: 1.286em;
            color: #f14a58;
        }


        &__filters-list {
            display: inline-block;
            
        }

        
            &__element-list {
           font: $page-font;
           font-weight: bold;
           border: 1px solid #e5e5e5;
                border-top: none;
           border-right: none;
                display: none;
        }
        &__element-list-last{
            border-left: none;
            .filters__item{
            
            padding-left: 50px;
           
        }
        }
        
        &__item{
            display: block;
            margin: 0;
            padding-left: 5px;
            box-sizing: border-box;
        }

         &__item:hover{
            background-color: #f7f7f7;

        }
       
        &__element {
            display: block;
            float: left;
            width: 15%;
            text-align: left;
            margin: 0;
        }

        &__element-heading{
            height: 60px;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            padding: 15px;
        }
         &__element-heading:hover{
            background-color: #f7f7f7;
            cursor: pointer;
        }

        &__element:nth-child(1), &__element:nth-child(6){
                width: 20%;
        }
        &__element-heading-first{
            
            padding: 15px 15px 15px 60px;
        }
        &__element-heading-last{
            padding: 15px 60px 15px 15px;
        }
        &__titles{
            width: 95%;
            float: left;
        }
        &__title {
            margin: 0;
            font-size: 1.286em;
        }
        &__title--selected{
            font-size: 0.857em;
        }
        &__type--not-selected{
            color: #000;
        }
        &__arrow-icon{
            display: inline-block;
            width: 5%;
            margin: 0;
        }
    }
}