$imagesPath: "../images";
$page-font: 14px/1.7 "Roboto", sans-serif; //HelveticaNeue 
$logo-font: 2.143em/1 "OpenSans-Bold", sans-serif; //FuturaPT
$banner-font: 2.143em/2.1 "OpenSans-Bold", sans-serif;
$button-font: 1.429em/1 "OpenSans-Bold", sans-serif;

$link-color: #000;
$search-color: #a8a8a8;

$heading1: 5.5em/1.2 "OpenSans-Bold", sans-serif;
$heading2: 4em/1.1 "OpenSans-Bold", sans-serif;
$heading3: 1.286em/1 "OpenSans-Bold", sans-serif;

$subheading: italic 1.714em/1.45 "Georgia";
$subheading-min: italic 1.286em "Georgia";

