<section class="popup">
    <div class="popup__container">
        <span class="popup__close-button popup__close-button--close-state">&#735;</span>
        <h3 class="popup__title"><%=data.title%></h3>
        <p class="popup__message"><%=data.message%></p>
    </div>
</section>